html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: x-large;
}

.app {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.header {
  align-items: end;
  background-color: #fff;
  color: blue;
}

.quiz {
  color: #0677ff;
  margin-top: 50px;
}

.next {
  margin-top: 20px;
}

.answer {
  padding-bottom: 10px;
  text-align: left;
  margin-left: 250px;
}
